.feature {
  display: flex;
  max-width: 1337px;
  margin: 40px auto;
  justify-content: space-between;
  align-items: center;

  padding-left: 35px;
  padding-right: 35px;
}

.feature .feature-text {
  max-width: 600px;
  padding: 10px;
  text-align: left;
}

.feature .feature-text h3 {
  padding-bottom: 25px;
  max-width: 80%;
  font-size: clamp(28px, 2.5vw, 30px);
  color: var(--dark-blue);
}

.feature .feature-text p {
  font-size: clamp(14px, 1vw, 19px);
  max-width: 80%;
}
/* -------- */
#features > div:nth-child(3) > div:first-child,
#features > div:nth-child(5) > div:first-child {
  order: 1;
  position: relative;
  left: 128px;
}

@media screen and (max-width: 700px) {
  .feature {
    flex-direction: column;
  }

  .feature .feature-text {
    text-align: center;
    margin-bottom: 20px;
  }

  .feature .feature-text h3,
  .feature .feature-text p {
    max-width: 100%;
  }

  .feature .feature-text p {
    line-height: 20px;
  }

  #features > div:nth-child(3) > div:first-child,
  #features > div:nth-child(5) > div:first-child {
    order: initial;
    left: 0;
  }
}
