@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Poppins:wght@200;400;600;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-blue: #007e7c;
  --dark-blue: #00605f;
}

img {
  max-width: 100%;
}

h3{
  font-weight: 700;
  font-size: clamp(26px, 3vw, 36px);
}